html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#container {
    position: relative;
    height: 100%;
    width: 100%;
}
#canvas {
    width: 100%;
    height: 100%;
}
#controls {
    position: absolute;
    top: 20px;
    left: 10px;
}
#rad {
    position: absolute;
    top: 55px;
    left: 80px;
    color: azure;
}
#controls-label {
    white-space: nowrap;
    width: 100px;
    position: absolute;
    color: azure;
}
#rotation-range {
    position: absolute;
    top: 35px;
    left: 30px;
}
#rotation-button {
    position: absolute;
    top: 85px;
    left: 65px;
}
#scene {
    position: absolute;
}

#change-scene {
    position: absolute;
    left: 1390px;
}
